//COLORS
$whiteColor: rgba(246, 246, 246, 255);
$grayColor: rgba(18, 18, 18, 255);
$blackColor: rgba(0, 0, 0, 255);
$lightGrayColor: rgba(24, 24, 24, 255);
$darkGrayColor: rgba(108, 108, 108, 255);
$whiteTColor: rgba(246, 246, 246, 0.698);
